use_nix

export KUBECONFIG=`pwd`/kubeconfig.yaml
export PROJECT_ROOT=`pwd`

source_env_if_exists .local.envrc

dotenv_if_exists .local.env

if [[ -z "$(which docker)" ]]; then
	echo "You need to install docker"
	exit 1
else
	echo "Docker is installed"
fi
