{{- define "nextcloud.pvc" -}}
metadata:
  name: {{ template "common.fullname" . }}-nextcloud
  {{- if .Values.persistence.annotations }}
  annotations: {{ toYaml .Values.persistence.annotations | nindent 4 }}
  {{- end }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode | quote }}
  resources:
    requests:
      storage: {{ .Values.persistence.size | quote }}
  {{- if .Values.persistence.storageClass }}
    {{- if (eq "-" .Values.persistence.storageClass) }}
  storageClassName: ""
    {{- else }}
  storageClassName: "{{ .Values.persistence.storageClass }}"
    {{- end }}
  {{- end }}
{{- end -}}

{{- if (and .Values.persistence.enabled (not .Values.persistence.existingClaim) ) -}}
{{ include "common.pvc" (list . "nextcloud.pvc" ) }}
{{- end -}}
